DB_HOST=database-1.cn2ykkm0mwyv.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=rO1JPh7CVHmylzoJKZpk
DB_DATABASE=aon_optimised
PORT=5000
ORIGIN=https://aws-testing.starsquare.in
BASIC_AUTH_USER=testing@kggeniuslabs.com
BASIC_AUTH_PASS=N7uXqx29OhyF

TEST_LINK=https://aws-testing.starsquare.in


CONTAINER_ROUTING_MODE=production
CONTAINERS_PER_SERVER=3
CONTAINER_SERVER_BASE_URL=https://aws-test.starsqare.in/container-server
CONTAINER_SERVER_PROVISION_URL_TEMPLATE=https://aws-test.starsqare.in/container-server/{serverNumber}/provision